<footer class="footer_page">
  <div class="footer_content">
    <div class="footer_section">
      <ul class="footer_links">
        <li><a routerLink="/"><img src="assets/logo.png" alt="footer logo" width="130"></a></li>
      </ul>
    </div>
    <div class="footer_section">
      <ul class="footer_info">
        <li><b>WING TSUN ORADEA</b></li>
        <li><b>ORADEA - STR. GENERAL TRAIAN MOȘOIU NR.12</b></li>
        <li><b>EMAIL: contact@wingtsun-oradea.ro</b></li>
      </ul>
    </div>
    <div class="footer_section footer_right">
      <span>crafted by motocsky</span>
      <div class="flag">
        <div class="stripe stripe1"></div>
        <div class="stripe stripe2"></div>
        <div class="stripe stripe3"></div>
      </div>
    </div>
  </div>
</footer>
