<div class="workout_section">
  <div class="common_container fully_centered">
    <h1 class="orange_title main_heading">Antrenamente Wing Tsun</h1>
    
    <div class="content_box text_content">
      <p> Wing Tsun este o artă marțială tradițională axată pe eficiență, autoapărare rapidă și utilizarea inteligentă a forței adversarului. Deoarece nu se bazează pe forța musculară sau pe forță brută, ci pe tehnici concepute anatomic, acest stil este extrem de eficient în situații reale.  </p>
      <p> În cadrul cursurilor noastre vei învăța forme tradiționale (precum Siu Nim Tao), strategii de luptă pe distanțe scurte, exerciții de Chi Sao (brațe lipicioase) care dezvoltă reflexele tactile și aplicații practice pentru o varietate de atacuri. Antrenamentele noastre sunt structurate pentru a oferi echilibru, disciplină și un corp pregătit pentru orice provocare. </p>
    </div>

    <div class="media_grid">
      <div class="media_item">
		<h3 class="orange_title sub_heading"> Primii discipoli Wing Tsun Oradea</h3>
        <img src="assets/workout/1.JPG" alt="Antrenament Wing Tsun 1">
		<p class="description_image"> 05.03.2026 </p>
		<p class="description_image">Primul examen in arta Wing Tsun</p>
		<p class="description_image">Incepator gradul I</p>
      </div>
      <div class="media_item">
        <img src="assets/workout/2.JPG" alt="Antrenament Wing Tsun 2">
      </div>
      <div class="media_item">
        <img src="assets/workout/3.JPG" alt="Antrenament Wing Tsun 3">
      </div>
      <div class="media_item">
        <img src="assets/workout/4.JPG" alt="Antrenament Wing Tsun 4">
      </div>
    </div>

    <div class="video_container">
      <h3 class="orange_title sub_heading">Antrenament </h3>
      <video controls preload="metadata">
        <source src="assets/workout/v1.mp4" type="video/mp4">
        Browserul tău nu suportă elementul video.
      </video>
    </div>

  </div>
</div>
